@import '@/styles/colors.scss';

.favoriteIndicator {
    display: flex;
    gap: 8px;
    text-transform: uppercase;
    background-color: $gray-200;
    color: $gray-300;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    align-items: center;

    &.displayQuantity {
        background-color: $beige-400;
        color: $red-400;
    }
}
