@import '@/styles/colors.scss';
@import '@/styles/mixins.scss';

.desktop {
  max-width: 1920px;
  display: none !important;
  @include for-desktop-up {
    display: flex !important;
  }
}

.tablet {
  display: none !important;
  @include for-tablet-landscape-up {
    display: flex !important;
  }

  @include for-desktop-up {
    display: none !important;
  }
}

.mobile {
  display: flex !important;
  @include for-tablet-landscape-up {
    display: none !important;
  }
}
