@import '@/styles/colors.scss';
@import '@/styles/mixins.scss';

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: #141414;
  opacity: 0.6;
  z-index: 2;
  left: 0;
  top: 0;

  &.vanishing {
    display: none;
  }
}


.drawer {
  box-sizing: border-box;
  background-color: $primary-white;
  position: absolute;
  max-width: 100vw;
  width: 376px;
  top: 0;
  left: -376px;
  height: 100vh;
  padding: 25px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  transition: transform 0.2s;
  z-index: 10;

  &.closing {
    transform: translateX(376px);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  font-weight: 500;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.divider {
  height: 1px;
  background-color: $gray-500;
  width: 100%;
}

.signup {
  align-self: center;
  font-weight: 600;

  color: $gray-900;
  margin: 0;
  a {
    color: $red-400;
    text-decoration: none;
  }
}

.signIn {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.signOut {
  border: none;
  background-color: $primary-white;
  cursor: pointer;
  color: $red-400;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 500;
}